body {
  margin: 0;
  overflow-x: hidden;
}

.services {
  background-image: url("../../assets/chair.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  padding: 60px 8% 40px;
}

.sectionTitle {
    font-size: 2.2rem;
  font-weight: 700;
}

/* Two-column layout */
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
}

.column {
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.columnTitle {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid #000;
  cursor: default;
  background-color: black;
  color: white;
  max-width: 400px;
}

.imageContainer {
  text-align: center;
  margin: 50px 0;
}

.image {
  max-width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;
}

/* Service list styles */
.priceList {
    margin: 0 auto;
  list-style: none;
  padding: 0;
  line-height: 1.8;
  font-size: 1.1rem;
  max-width: 250px;
}

.toggleService {
  position: relative;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.7rem 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleService::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}

.icon {
  display: flex;
  transition: transform 0.9s ease;
}

.rotate {
  transform: rotate(180deg);
}

.itemsWrapper {
  overflow: hidden;
  transition: max-height 1s ease-in, opacity 0.6s ease, transform 0.9s ease;
  opacity: 0;
  max-height: 0;
  transform: translateY(-10px);
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 5px;
}

.shown {
  max-height: 350px;
  opacity: 1;
  transform: translateY(0);
}

.hiden {
  max-height: 0;
  opacity: 1;
  transform: translateY(-1px);
}

.buttonDiv {
  margin-bottom: 40px;
}

.lightbox {
  position: fixed;
  inset: 0; /* full screen */
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px); /* blur background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: zoom-out;
}

.lightboxImage {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .services {
        display: none;
        margin-top:0;
    }

  .columns {
    grid-template-columns: 1fr;
  }
}
