body {
  margin: 0;
  overflow-x: hidden;
}

.servicesContainer {

  background-image: url("../../assets/chair.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  align-items: stretch;
}
.imageContainer,
.servicesInfoContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}

.image {
  width: auto;
  height: 90%; /* важно: картинката ще следва родителя */
  max-width: 100%;
  max-height: 650px;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: 0;
}

.image.active {
  opacity: 1;
  z-index: 1;
}

.servicesInfoContainer {
    flex-direction: column;
}

.servicesInfoContainer h2 {
    padding-bottom: 80px;
}



.toggleButtons {
  margin-bottom: 1rem;
}

.toggleButtons button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid #000;
  cursor: pointer;
  color: black;
}

.toggleButtons .active {
  background-color: black;
  color: white;
}

.priceList {
  list-style: none;
  padding: 0;
  line-height: 1.8;
  font-size: 1.1rem;
}

.toggleService {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.itemsWrapper {
    overflow: hidden;
    transition: max-height 1s ease-in, opacity 0.6s ease, transform 0.9s ease;
    opacity: 0;
    max-height: 0;
    transform: translateY(-10px);
    background: rgba(0, 0, 0, 0.03)
  }

  .shown {
    max-height: 350px;
    opacity: 1;
    transform: translateY(0);
  }
  
  .hiden {
    max-height: 0;
    opacity: 1;
    transform: translateY(-1px);
  }

  @media (max-width: 768px) {
    .servicesContainer {
      flex-direction: column-reverse;
      background-attachment: scroll;
    }
    .servicesInfoContainer h2 {
      padding-top: 30px;
    }
    .imageContainer {
      min-height: 550px;
    }
  
    .imageContainer img {
      max-width: 350px;
      height: 480px;
      width: 100%;
      object-fit: cover;
      margin: 20px 0;
    }

    .image {
      max-width: 90%;
      height: auto;
    }
  
    .servicesInfoContainer h2 {
      padding-top: 30px;
    }
  }

  @media (max-width: 576px) {
    .imageContainer {
      min-height: 550px;
    }
  }
  