.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.aboutUsTop {
  padding: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(222, 222, 222, 0.7);
  margin-top: 90px;
}

.aboutUsTopImg img {
  width: 100%;
  max-width: 400px;
  max-height: 450px;
}

.aboutUsTopInfo {
  max-width: 600px;
}

.aboutUsBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.aboutUsBottom h3 {
  padding: 40px 0px;
}

.aboutUsBottomImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 45px;
}

.aboutUsBottomSkin,
.aboutUsBottomTeam,
.aboutUsBottomLaser {
  width: 370px;
  max-width: 400px;
  height: 420px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutUsBottomSkin {
  background-image: url("../../assets/skin.jpg");
}

.aboutUsBottomTeam {
  background-image: url("../../assets/ourTeam.jpeg");
  background-size: cover;
}

.aboutUsBottomLaser {
  background-image: url("../../assets/laser.jpeg");
}

.aboutUsBottomImg h4 {
  overflow: hidden;
  background-color: rgba(222, 222, 222, 0.7);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  height: 20%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.aboutUsBottomInfo {
  overflow: hidden;
  background-color: rgba(222, 222, 222, 0.7);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.aboutUsBottomInfo p {
  padding: 0 10px;
  font-size: 20px;
}

.aboutUsInfoBlock {
  position: relative;
  height: 450px; /* или колкото трябва да е блока */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title,
.text {
  position: absolute;
  top: 50;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(222, 222, 222, 0.7);
  transition: opacity 0.4s ease;
  z-index: 1;
}

.hidden {
  opacity: 0;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.visible {
  opacity: 1;
}

@media (max-width: 1050px) {
  .aboutUsBottomImg {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .aboutUsTop {
    flex-direction: column-reverse;
  }
  .aboutUsBottomImg {
    flex-direction: column;
    width: 70%;
  }
  .aboutUsBottomSkin,
  .aboutUsBottomTeam,
  .aboutUsBottomLaser {
    max-width: 100%;
    height: 260px;
  }
}
