.App {
  text-align: center;
}

.sections {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home {
  min-height: 700px;
  background-image: url("./assets/studio_background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutUs {
  min-height: 1300px;
  background-color: white;
  padding-bottom: 40px;
}
.contacts {
  min-height: 400px;
  background-color: RGB(30 74 105);
  color: white;
}

.menuLink {
  max-width: 100%;
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

.top-btn-positon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #aaa;
  background-color: transparent;
  color: #aaa;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}


.top-btn-positon:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--pink-dark);
  border: 2px solid var(--pink-dark);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: RGB(30 74 105);
}

footer h5{
  color: white;
  margin: 0;
  padding: 40px 0;
}

.footerLink{
  color: #e74545;
  font-size: 16px;
}

.footerLink:hover {
  color: #e74545;
}

#root {
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .aboutUs {
    min-height: 2300px;
    padding-bottom: 80px;
  }
  .contacts {
    min-height: 700px;
  }
  .home {
    min-height: 300px;
  }
}
